extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

       
        h1 Jolaolu Babalola

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | Feel free to explore my porfolio and check out my work!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Javascript
          li JQuery
          li HTML
          li CSS
          li AJAX 
          li Node.js
          li Express
          li Object-Oriented Programming
        h6 Contact Info

        ul
          li 609-225-3855
          li jolaolu.babalola@verizon.com

        a.button.expanded(href='https://linkedin.com/in/jolaolubabalola' target='blank') LinkedIn
        a.button.expanded(href='https://github.com/jolab96' target='blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  